body {
  background-color: teal;
  font-family: arial;
  text-align: center;
}

li {
  list-style: none;
  margin-bottom: 20px;
  font-size: 1.4em;
}

table.photos {
  margin-left: auto;
  margin-right: auto;
}
